Source: transmageddon
Section: gnome
Priority: optional
Maintainer: Christian Schaller <uraeus@gnome.org>
Build-Depends: debhelper (>= 7), cdbs (>= 0.4.41), python
Standards-Version: 3.8.1
Homepage: http://www.linuxrising.org/transmageddon/

Package: transmageddon
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-gtk2 (>=2.8.0), python-gst0.10 (>=0.10.6), python2.6
Suggests: gstreamer0.10-ffmpeg, gstreamer0.10-plugins-bad, gstreamer0.10-plugins-ugly
Description: Re-encode your videos into different formats
 Re-encode your videos into lots of formats.
 The currently supported codecs are:
 CONTAINERS: Ogg, Matroska, AVI, MPEG TS, flv, QuickTime, MPEG4, 3GPP, MXT
 AUDIO ENCODERS: Vorbis, FLAC, mp3, AAC, AC3, Speex, Celt
 VIDEO ENCODERS: Theora, Dirac, H264, MPEG2, MPEG4/DivX5, xvid, DNxHD
 It supports GStreamer auto-search for missing plugins/codecs.
 
